#map{
    width: 500px;
    height: 700px;
}

button, p {
    font-family: "Open Sans", sans-serif !important;
}
h1, h2, h3 {
    font-family: "Raleway", sans-serif !important;
}

.content {
    width: 80%;
    margin: 50px auto;
}