{% extends "base.html" %}

{% block content %}
    <div id="map">

    </div>

    <h1 id="loc"></h1>
    <button id="aqi">Get me my Air Quality Index!</button>
    <script>
            var loc = document.getElementById('loc');
            var map = L.map('map').setView([0,0],3);
            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=0wIPgdmWVTqF7WuJjV0R',{
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
            }).addTo(map);

            //fetch(`https://api.breezometer.com/air-quality/v2/current-conditions?lat=${position.coords.latitude}&lon=${position.coords.longitude}&key=f76b6c689185412aa1297bb07fbdc24a`)
            $("#aqi").click(function() {
                $.ajax({url: `https://api.waqi.info/feed/here/?token={{ token }}`,
                        success: function(result){
                            var marker = L.marker([result.data.city.geo[0],result.data.city.geo[1]]).addTo(map);
                            var popup = `AQI level: ${result.data.aqi}`
                            marker.bindPopup(popup).openPopup();
                            map.setView(new L.LatLng(result.data.city.geo[0], result.data.city.geo[0]),4)
                        }})
            })
    </script>
{% endblock %}