{% extends "base.html" %}

{% block content %}
    <div id="map">

    </div>

    <h1 id="loc"></h1>
    <script>
            var loc = document.getElementById('loc');
            var map = L.map('map').setView([0,0],3);
            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=0wIPgdmWVTqF7WuJjV0R',{
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
            }).addTo(map);

            //fetch(`https://api.breezometer.com/air-quality/v2/current-conditions?lat=${position.coords.latitude}&lon=${position.coords.longitude}&key=f76b6c689185412aa1297bb07fbdc24a`)
            $(document).ready(function() {
                var popup = "<ul>";
                var marker
                $.ajax({url: `https://api.waqi.info/feed/here/?token={{ token }}`,
                        success: function(result){
                            marker = L.marker([result.data.city.geo[0],result.data.city.geo[1]]).addTo(map);
                            popup += `<li class="list">AQI level: ${result.data.aqi} </li></ul>`

                            var customOptions =
                            {
                            'maxWidth': '400',
                            'width': '200',
                            'className' : 'popupCustom'
                            }
                            marker.bindPopup(popup,customOptions).openPopup();
                            map.setView(new L.LatLng(result.data.city.geo[0], result.data.city.geo[1]),4)
                        }})
                $.ajax({url: `https://json.geoiplookup.io/`,
                        success: function(result){
                            let country = result.country_name;
                            $.ajax({url: "/static/data.json",
                                    success: function(result){
                                        let json_length = result.data.length;
                                        let emission = 0;
                                        for(let x = 0; x < json_length; x++)
                                        {
                                            if (result.data[x].name == country) {
                                                emission = result.data[x].perCapitaEmissions;
                                                break;
                                            }
                                        }
                                        popup += `<li class="list">Daily emissions per capita in ${country}: ${emission}</li>`;
                                        marker.bindPopup(popup).openPopup();

                                    }})
                                    // we need to catch errors here if the country isn't in the json
                        }}) 
            })
    </script>
{% endblock %}